/**Fuente**/
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/**Variables**/
:root{
    --principal:#FFC548 ;
    --principal_oscuro: #D39000;

    --secundario: #CACACA;
    --secundario_oscuro:#7F7F7F;

    --negro: #000000;
    --blanco: #FFFFFF;

    --fuente_principal:"Reddit Sans", sans-serif;
}

/**Valores default**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/**Cambia la forma de calcular el tamaño de un elemento**/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuente_principal);
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}

/**Navegacion**/
.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(/resourses/WallpaperBanda.jpeg);

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display:flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;

}

.menu .navbar ul li a{
    font-size: 1.8rem;
    padding: 2rem;
    color: var(--blanco);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: var(--principal_oscuro);
}

#menu{
    display: none;
}

.menu-icono{
    width: 2.5rem;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 7.5rem;
    line-height: 8rem;
    color: var(--blanco);
    margin-bottom: 3.5rem;
}

.header-content p{
    font-size: 1.6rem;
    color: var(--blanco);
    padding: 0 25rem;
    margin-bottom: 2.5rem;
}

.btn-1{
    display: inline-block;
    border: 1px solid var(--blanco);
    font-size: 1.5rem;
    padding: 1.1rem 3.5rem;
    background-color: var(--negro);
    color: var(--blanco);
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: var(--principal_oscuro);
}

/**La Banda**/
.integrantes{
    padding: 5rem 0;
    text-align: center;
}

.integrantes-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .integrantes-content {
      flex-direction: column;
    }
  
    .integrantes-img1 {
      max-width: 100%;
      padding-right: 0;
      margin-bottom: 2rem; /* Ajusta el margen inferior según sea necesario */
    }
  }

.integrantes h2{
    font-size: 5.5rem;
    line-height: 7rem;
    color: var(--negro);
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.integrantes-img1 {
    max-width: 55%; 
    height: auto;
    padding-right: 4rem;
}


/**Tabla Integrantes**/
.tabla{
    text-align: center;
}

.integrantes-table {
    font-size: 4rem;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: auto; 
    margin-right: auto; 
}

.integrantes-table thead{
    background-color: var(--secundario_oscuro);
}

.integrantes-table th{
    padding: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.integrantes-table tbody tr:nth-child(even) {
    background-color: var(--secundario);
}

.integrantes-table td{
    padding: 1.5rem;
    font-size: 1.6rem;
    border-bottom: solid 1px var(--negro);
}

/**Discografia**/
.artist{
    padding: 2rem 0;
    position: relative;
}

.artist-content{
    text-align: center;
}

.artist-content h2{
    font-size: 5.5rem;
    line-height: 7rem;
    color: var(--negro);
    text-transform: uppercase;
    padding: 0 25rem;
    margin-bottom: 1.5rem;
}

.txt-p{
    font-size: 2rem;
    text-align: center;
    color: var(--secundario_oscuro);
    padding: 0 25rem;
    margin-bottom: 3.5rem;
}

.artist-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    gap: 2rem;
}

.artist-1 {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-1 img {
    width: 100%; 
    max-width: 40rem; 
    margin-bottom: 2rem;
}

.artist-1 iframe {
    width: 100%;
    max-width: 40rem;
}

/* Estilos para la nueva sección */
.nueva-seccion {
    padding: 4rem 0;
    text-align: center; 
}
  
  .nueva-seccion-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
  }
  
  .nueva-seccion-texto {
    flex: 1;
    font-size: 2rem;
    color: var(--secundario_oscuro);
    text-align: justify;
  }
  
  .nueva-seccion-imagen {
    flex: 1; 
    padding-left: 4rem;
  }
  
  .nueva-seccion-imagen img {
    max-width: 100%; 
    height: auto;
  }

  .nueva-seccion2 {
    padding: 4rem 0;
    text-align: center; 
}
  
  .nueva-seccion2-content {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: space-between;
  }
  
  .nueva-seccion2-texto {
    flex: 1;
    font-size: 2rem;
    color: var(--secundario_oscuro);
    text-align: justify;
  }
  
  .nueva-seccion2-imagen {
    flex: 1; 
    padding-right: 4rem;
  }
  
  .nueva-seccion2-imagen img {
    max-width: 100%; 
    height: auto;
  }
  

/**Videos**/
.videos{
    padding: 2rem 0;
    position: relative;
}

.videos-content{
    text-align: center;
}

.videos-content h2{
    font-size: 5.5rem;
    line-height: 7rem;
    color: var(--negro);
    text-transform: uppercase;
    padding: 0 25rem;
    margin-bottom: 1.5rem;
}

.videos-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    gap: 2rem;
}

.videos-1 {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos-1 iframe {
    width: 100%;
    max-width: 50rem;
}

.conectate h2{
    font-size: 5.5rem;
    line-height: 7rem;
    color: var(--negro);
    text-transform: uppercase;
    padding: 0 25rem;
    margin-bottom: 1.5rem;
}

.conectate-content{
    text-align: center;
}

/**Footer**/
.footer{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(/resourses/Banda.jpg);
    
        padding: 10rem 0;
        width: 100%;
}

.footer .grupo-1{
    width: 100%;
    max-width: 130rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding: 4.5rem 0;
}

.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box figure img{
    width: 25rem;
}

.footer .grupo-1 .box h2{
    color: var(--blanco);
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

.footer .grupo-1 .box p{
    color: var(--blanco);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.footer .grupo-1 .red-social a{
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    margin-right: 2rem;
}

.footer .grupo-2{
    padding: 1rem 1rem;
    text-align: center;
    color: var(--blanco);
}

.footer .grupo-2 small{
    font-size: 1.5rem;
}

@media screen and (max-width:800px){
    .footer .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
        padding: 3.5rem 0;
    }
    
}
